@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scrollbar-width: auto;
    scrollbar-color: #dcff2f #1a1a1a00;
}

::-moz-selection {
    color: #1a1a1a;
    background: #dcff2f;
}
  
::selection {
    color: #1a1a1a;
    background: #dcff2f;
}

html{
    scroll-behavior: smooth;
}

img{
    /* user-select: none;
    pointer-events: none; */
}

.scroll-to-top{
    padding: 6px 10px;
    border-radius: 50%;
    border: 5px solid #1a1a1a;
    outline:1px solid  #dcff2f;
    background-color: #dcff2f;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2;
}

.gradient-2 {
    position: absolute;
    top: 440px;
    left: -700px;
}


.copyright{
    font-family: "Poppins", sans-serif;
}