  .gradient-4{
    position: absolute;
    top: -200px;
    left: -225px;
  }

  .gradient-5{
    position: absolute;
    bottom: -200px;
    right: -225px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .project-title{
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
  }

  .card-row {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
  }

  .card-content {
    position: relative;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    flex: 1 1 200px;
    min-width: 200px;
    max-width: 280px;
  }

  .card-content h1{ 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 1.7em;
  }

  .card-footer{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -3%);
  }

  .btn-container{
    margin-top: -16px;
    margin-right: 1%;
  }

  .view-btn{
    font-family: "League Spartan", sans-serif;
    background-color: #1a1a1a;
    color: #c6ff00;
    border-radius: 50px;
    padding: 2.5%;
  }

  /* Responsive – stack on small devices */
  @media (max-width: 768px) {
    .card-row {
      justify-content: center;
    }
    .card-content {
      flex: 1 1 100%;
      /* max-width: 100%; */
    }
  }
